@import url("./variables.css");

@import url("./components/buttons.css");
@import url("./components/forms.css");
@import url("./components/cards.css");
@import url("./components/carousel.css");
@import url("./components/alerts.css");
@import url("./components/modal.css");
@import url("./components/header.css");
@import url("./components/footer.css");

/* Global styles */
@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;600;700&display=swap");
.brand {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.brand__logo {
  height: 36px;
  width: auto;
  display: block;
}
