@import url("./variables.css");

@import url("./components/buttons.css");
@import url("./components/forms.css");
@import url("./components/header.css");
@import url("./components/footer.css");

/* Global reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  font-family: var(--font-sans);
  font-size: var(--text-md);
  line-height: var(--lh-normal);
  color: var(--color-text);
  background: var(--color-bg);

  overflow-x: hidden;
}


main {
  flex: 1;
}

.container {
  width: 100%;
  max-width: var(--container-max);
  margin: 0 auto;
  padding-left: var(--container-pad);
  padding-right: var(--container-pad);
}

@media (min-width: 768px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: 1200px) {
  .container {
    padding-left: 56px;
    padding-right: 56px;
  }
}

#page-root.container {
  padding-top: 16px;
  padding-bottom: 24px;
}
